<style>
	#content{
		padding: 20px;
	}
	
	.single,.doble_one,.one_doble,.tercia{
		width: 100%;
		height: 100px;
	}

	.doble{
		height: 100%;
		width:70%;
		float:left;
	}

	.one{
		height: 100%;
		width:30%;
		float:left;
	}

	.one3{
		height: 100%;
		width:33.3%;
		float:left;
	}


</style>
<div id="content" data-mercury="markdown">

<div class="single" data-mercury="full">
</div>

<div class="doble_one" >
	<div class="doble" data-mercury="full">
	</div>
	<div class="one" data-mercury="full">
	</div>
</div>

<div class="one_doble" >
	<div class="one" data-mercury="full">
	</div>
	<div class="doble" data-mercury="full">
	</div>
</div>

<div class="tercia" >
	<div class="one3" data-mercury="full">
	</div>
	<div class="one3" data-mercury="full">
	</div>
	<div class="one3" data-mercury="full">
	</div>
</div>



<div class="">
	
</div>



</div>