<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Contenidos</h1>
    </div>
</div>
<h5>Selecciona un subcapitulo </h5>
<% Subchapter.all.each do |sb|%>
	<button class="subchapter_choose_content btn btn-default" sb-id="<%= sb.id %>" data-toggle="modal" data-target="#newContent"> <%= sb.es_description%></button>
<% end %>
<br>
<br>
<br>

<div id="container_content_by_subchapter">
	
<hr width="100%">
	<div id="contenidos_new" style="display:none; margin-top:10px; width:200px;">
		<textarea id="page_name" data-mercury="full" contenteditable="true">
		Aquí se cargarán los contenidos por subcapitulos
  		</textarea>
	</div>

</div>