<h5>Selecciona un subchapter </h5>
<%= collection_select(:id, :description, Subchapter.all, :id, :es_description,{:prompt=>true}, {:class=>'subchapter_choose_content'}) %>
<br>
<br>
<br>

<div id="container_content_by_subchapter">
	
</div>



<h3>Contenidos de Perfil</h3>
<%= render :partial => '/contents/form_ajax',locals: {_content_var: Content.new} %>