<%= javascript_include_tag "application"%>

<!-- ============= Outdated Browser ============= -->
        <div id="outdated">
             <h6>Su navegador no esta actualizado!</h6>
             <p>ACTUALICE SU NAVEGADOR PARA VISUALIZAR ESTA PÁGINA WEB CORRECTAMENTE. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Actualizar mi navigador ahora </a></p>
             <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
        </div>

        <!-- javascript includes -->
        <!-- Outdated Browser -->
        <%= javascript_include_tag "outdatedBrowser/outdatedBrowser.min" %>
        <script>
            //event listener form DOM ready
            function addLoadEvent(func) {
                var oldonload = window.onload;
                if (typeof window.onload != 'function') {
                    window.onload = func;
                } else {
                    window.onload = function() {
                        oldonload();
                        func();
                    }
                }
            }
            //call function after DOM ready
            addLoadEvent(
                outdatedBrowser({
                    bgColor: '#f25648',
                    color: '#ffffff',
                    lowerThan: 'transform'
                })
            );
        </script>