<style>
	li{
		display: inline;
		float: left;
		margin-right: 15px;
	}
	ul{
		list-style-type:none;
	}
</style>
<div>
	<ul>
	<li><a href="#">Admin Capitulos</a></li>
	<li><a href="#">Admin subcapitulos</a></li>
	<li><a href="#">Admin Categorias</a></li>
	<li><a href="#">Admin Perfiles</a></li>
	<li><a href="#">Admin contenidos</a></li>
	</ul>
</div>