<body class="fon-bod">
        <div class="contenido">
            <ul id="gn-menu" class="gn-menu-main">
                <li class="gn-trigger">
                    <a class="gn-icon gn-icon-menu"><span>Menú</span></a>
                    <nav class="gn-menu-wrapper gn-open-part"> <!-- gn-open-part -->
                        <div class="gn-scroller">
                            <ul class="gn-menu">
                                <li class="gn-search-item">
                                    <input placeholder="BUSCAR" type="search" class="gn-search">
                                    <a class="gn-icon gn-icon-search"><!-- <span>Buscar</span> --></a>
                                </li>
                                <li>
                                    <a class="gn-icon gn-icon-catego menu-bold">Categorias</a>
                                    <ul class="gn-submenu">
                                        <li><a class="gn-icon gn-icon-medio medio-item">Medio Ambiente</a></li>
                                        <li><a class="gn-icon gn-icon-demo demo-item">Demografia</a></li>
                                        <li><a class="gn-icon gn-icon-cali cali-item">Calidad de Vida</a></li>
                                        <li><a class="gn-icon gn-icon-edu edu-item">Educación</a></li>
                                        <li><a class="gn-icon gn-icon-des des-item">Desarrollo Agropecuario</a></li>
                                        <li><a class="gn-icon gn-icon-ind ind-item">Industria Manufacturera</a></li>
                                        <li><a class="gn-icon gn-icon-com com-item">Comercio y Servicios</a></li>
                                        <li><a class="gn-icon gn-icon-gob gob-item">Gobierno Municipal</a></li>
                                    </ul>
                                </li>
                                <li><a class="gn-icon gn-icon-grafic menu-bold">Gráficos</a></li>
                                <li id="inline-popups"><a href="#test-popup" class="gn-icon gn-icon-contac menu-bold" data-effect="mfp-3d-unfold">Contacto</a></li>
                            </ul>
                        </div><!-- /gn-scroller -->
                    </nav>
                </li>
                <li class="gob-fondo"><a href="#" class="name-style"><div class="name">ANUARIO ECONÓMICO MUNICIPAL 2014</div><div class="name-short">AEM 2014_</div></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <span class="perfil-tipo">
                        <span class="glyphicon glyphicon-user"></span> PERFIL
                      </span>
                      <span class="caret"></span>
                    </a>  
                  <ul class="dropdown-menu filtrar">
                    <li><a href="#" data-filter=".ciu"><span class="glyphicon glyphicon-home"></span> CIUDADANO</a></li>
                    <li><a href="#" data-filter=".est"><span class="glyphicon glyphicon-book"></span> ESTUDIANTE</a></li>
                    <li><a href="#" data-filter=".emp"><span class="glyphicon glyphicon-briefcase"></span> EMPRESARIO</a></li>
                    <li><a href="#" data-filter=".inv"><span class="glyphicon glyphicon-usd"></span> INVERSIONISTA</a></li>
                    <li><a href="#" data-filter="*" class="actual"><span class="glyphicon glyphicon-user"></span> SIN PERFIL</a></li>
                  </ul>
                </li>
                <li ><a class="codrops-icon codrops-icon-prev regresar-result" href="#"><span>ATRAS</span></a></li>
            </ul>
            <!-- Popup itself -->
                <div id="test-popup" class="white-popup mfp-with-anim mfp-hide">
                    <h3 class="te <!-- Popup itself -->xt-center"><strong>Dejanos tu comentario</strong></h3>
                  <form role="form">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Comentario</label>
                      <textarea class="form-control" placeholder="Comentario" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-danger btn-block">Enviar</button>
                  </form>
                </div>
                  
                <div id="containero" class="containerr intro-effect-fadeout">
                  <!-- Top Navigation -->
                  <header class="header">
                    <div class="bg-img">
                    	 <%= image_tag("2.jpg") %>
                    </div>
                    <div class="title">
                      <h1>2.2 Fenómenos de la población</h1>
                      <p class="subline">Calidad de vida</p>
                    </div>
                  </header>
                  <button class="trigger" data-info="Continuar"><span>Trigger</span></button>
                  <article class="content">
                    <div>
                      <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                          <h3 class="abold">Natalidad, morbilidad  y mortalidad</h3>
                          <p>El comportamiento de la población mundial ha experimentado drásticos cambios: ha crecido muy rápido, se ha urbanizado, se ha hecho más longeva, y ha emigrado de unos países a otros. Se trata, básicamente, de una globalización de  los cambios experimentados a partir de los siglos XIX y XX por los países hoy desarrollados.</p>
                          <p>En medio siglo la población rondará los 9 mil millones de personas. Hace 50 años era de 2 mil 500 millones. A comienzos del siglo XX, había cerca de mil 700 millones. En 2000, se superó por poco los 6 mil millones. Se prevé que la población mundial llegará a 9 mil 100 millones para 2050 y el aumento se producirá en los países menos desarrollados.</p>
                          <p>La tasa de crecimiento de la población en el mundo bajó 1.2% anual en el periodo 2000-2005, y para 2045-2050, según las previsiones, caerá otro 0.4% anual.</p>
                        </div>
                        <div class="well col-xs-12 col-sm-6 col-md-6 col-lg-6">
                          
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <p>En los países menos desarrollados las tasas de natalidad han descendido y se considera que seguirán cayendo, mientras que en los más desarrollados se mantendrán constantes. Al mismo tiempo, las tasas de mortalidad prácticamente se mantienen invariables.</p>
                          <p>La proporción entre varones y mujeres suele conservarse de 105/100 a edades tempranas porque nacen más niños que niñas, aunque se equipara en la edad adulta porque mueren más varones que mujeres. Sin embargo, en algunos países el infanticidio, el abandono de recién nacidas y el aborto selectivo de fetos femeninos generan una proporción de varones y mujeres de más de 108/100 a edades tempranas.</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="well col-xs-12 col-sm-4 col-md-4 col-lg-4">
                          
                        </div>
                        <div class="well col-xs-12 col-sm-8 col-md-8 col-lg-8">
                          
                        </div>
                      </div>
                      <div class="row">
                        <div class="well col-xs-12 col-sm-8 col-md-8 col-lg-8">
                          
                        </div>
                        <div class="well col-xs-12 col-sm-4 col-md-4 col-lg-4">
                          
                        </div>
                      </div>
                      
                      
                    </div>
                  </article>
                </div><!-- /capitulo --> 

                <div class="logo-visible">
                  <div id="respuesta" style="display:block">
                  	<%= image_tag("anuario-03.png",:class=>"sombra-img") %>
                  </div>
                  <a href="#" id="alternar-respuesta" data-toggle="tooltip" data-placement="bottom" title="Clic">
                    <span class="glyphicon glyphicon-record btn-oyo"></span>
                  </a>                  
                </div>  
        </div><!-- /contenido -->

        <!-- ============= Outdated Browser ============= -->
        <div id="outdated">
             <h6>Su navegador no esta actualizado!</h6>
             <p>ACTUALICE SU NAVEGADOR PARA VISUALIZAR ESTA PÁGINA WEB CORRECTAMENTE. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Actualizar mi navigador ahora </a></p>
             <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
        </div>

        <!-- plugin call -->
        <script>
            //event listener form DOM ready
            function addLoadEvent(func) {
                var oldonload = window.onload;
                if (typeof window.onload != 'function') {
                    window.onload = func;
                } else {
                    window.onload = function() {
                        oldonload();
                        func();
                    }
                }
            }
            //call function after DOM ready
            addLoadEvent(
                outdatedBrowser({
                    bgColor: '#f25648',
                    color: '#ffffff',
                    lowerThan: 'transform'
                })
            );
        </script>
    
        <script>
            new gnMenu(document.getElementById('gn-menu') );
        </script>
        <!-- Pop Up -->
        <script>
        	(function() {

				// detect if IE : from http://stackoverflow.com/a/16657946		
				var ie = (function(){
					var undef,rv = -1; // Return value assumes failure.
					var ua = window.navigator.userAgent;
					var msie = ua.indexOf('MSIE ');
					var trident = ua.indexOf('Trident/');

					if (msie > 0) {
						// IE 10 or older => return version number
						rv = parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
					} else if (trident > 0) {
						// IE 11 (or newer) => return version number
						var rvNum = ua.indexOf('rv:');
						rv = parseInt(ua.substring(rvNum + 3, ua.indexOf('.', rvNum)), 10);
					}

					return ((rv > -1) ? rv : undef);
				}());


				// disable/enable scroll (mousewheel and keys) from http://stackoverflow.com/a/4770179					
				// left: 37, up: 38, right: 39, down: 40,
				// spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36
				var keys = [32, 37, 38, 39, 40], wheelIter = 0;

				function preventDefault(e) {
					e = e || window.event;
					if (e.preventDefault)
					e.preventDefault();
					e.returnValue = false;  
				}

				function keydown(e) {
					for (var i = keys.length; i--;) {
						if (e.keyCode === keys[i]) {
							preventDefault(e);
							return;
						}
					}
				}

				function touchmove(e) {
					preventDefault(e);
				}

				function wheel(e) {
					// for IE 
					//if( ie ) {
						//preventDefault(e);
					//}
				}

				function disable_scroll() {
					window.onmousewheel = document.onmousewheel = wheel;
					document.onkeydown = keydown;
					document.body.ontouchmove = touchmove;
				}

				function enable_scroll() {
					window.onmousewheel = document.onmousewheel = document.onkeydown = document.body.ontouchmove = null;  
				}

				var docElem = window.document.documentElement,
					scrollVal,
					isRevealed, 
					noscroll, 
					isAnimating,
					container = document.getElementById( 'containero' ),
					trigger = container.querySelector( 'button.trigger' );

				function scrollY() {
					return window.pageYOffset || docElem.scrollTop;
				}
				
				function scrollPage() {
					scrollVal = scrollY();
					
					if( noscroll && !ie ) {
						if( scrollVal < 0 ) return false;
						// keep it that way
						window.scrollTo( 0, 0 );
					}

					if( classie.has( container, 'notrans' ) ) {
						classie.remove( container, 'notrans' );
						return false;
					}

					if( isAnimating ) {
						return false;
					}
					
					if( scrollVal <= 0 && isRevealed ) {
						toggle(0);
					}
					else if( scrollVal > 0 && !isRevealed ){
						toggle(1);
					}
				}

				function toggle( reveal ) {
					isAnimating = true;
					
					if( reveal ) {
						classie.add( container, 'modify' );
					}
					else {
						noscroll = true;
						disable_scroll();
						classie.remove( container, 'modify' );
					}

					// simulating the end of the transition:
					setTimeout( function() {
						isRevealed = !isRevealed;
						isAnimating = false;
						if( reveal ) {
							noscroll = false;
							enable_scroll();
						}
					}, 600 );
				}

				// refreshing the page...
				var pageScroll = scrollY();
				noscroll = pageScroll === 0;
				
				disable_scroll();
				
				if( pageScroll ) {
					isRevealed = true;
					classie.add( container, 'notrans' );
					classie.add( container, 'modify' );
				}
				
				window.addEventListener( 'scroll', scrollPage );
				trigger.addEventListener( 'click', function() { toggle( 'reveal' ); } );
			})();
        </script>
 
  </body>