<div id="menu_capitulos" style="display:none" 
<%= render :partial => "home/partials/lista_capitulos" %>
</div>

<div id="contenido_capitulo" style="display:block">
  <%= render :partial => "home/partials/capitulo" %>
</div>