<section id="menu_capitulos" style="display:block" >
<%= render :partial => "home/partials/lista_capitulos" %>
</section>

<section id="contenido_capitulo" style="display:none">
  <%= render :partial => "home/partials/capitulo" %>
</section>