function init_functions_content(){

	$(document).on("click",".subchapter_choose_content",function(){
			var _subchapter_selected = $(this).attr("sb-id");
			$("#content_subchapter_id").val(_subchapter_selected);
			load_content_by_subchapter(_subchapter_selected);
	});

}



function load_content_by_subchapter(_id_subchapter){
	var _params = {"subchapter_id":_id_subchapter}
	var _domain = document.domain;
    var _puerto = "";
    if(_domain == "localhost"){
        _puerto= ":3000"
    }

    var _url ="http://"+ _domain+""+_puerto+"/api/requests/obtenerTemasPorSubCapitulo";
    //alert(_url);
    var _fnDoNothing = function(){};

    var _fnFail = function(){
    	alert("ups, hubo un error");
    };

    var _fnDoTheWork = function(data){

    		$("#lista_contenidos_por_subcapitulo tbody").html("");

    		if(data.length > 0){
    			$(data).each(function(index,data){
                    var object=data;
    				showFormUpdateContents();
    				createNewContentHtmlObject(
                        object.id,
                        object.es_description,
    					object.en_description,
    					object.subchapter_id);

    			});
    		}
    		else{
    			hideFormUpdateContents();
    			showFormNewContent();
    		}
    };



	llamadaAjax(_url, _params,_fnDoTheWork, _fnDoNothing,_fnFail , _fnDoNothing);

}


function showFormNewContent(){
	$("#contenidos_new").show();

}

function showFormUpdateContents(){
	$("#contenidos_load").show();
}

function hideFormNewContent(){
	$("#contenidos_load").hide();
}

function hideFormUpdateContents(){
	$("#contenidos_load").hide();
}


function createNewContentHtmlObject(_id,_esDescription,_enDescription,_sbChapter){
	
    //wyswyg = acronimo what you see is what you get
    var btn_wyswyg ="<a href='editor/contents/"+_id+"' class='btn btn-primary'>Agregar Contenidos</a>";
    var btn_editar_descs = "<a href='/contents/"+_id+"/edit' class='btn btn-secondary'>Editar</a> ";
	var html="<tr><td>"+_esDescription+"</td>";
	html += "<td>"+_enDescription+"</td>";
	html += "<td>"+_sbChapter+"</td>";
    html += "<td>"+ btn_wyswyg +" "+btn_editar_descs+"</td>";

	$("#lista_contenidos_por_subcapitulo tbody").append(html);

}

