<!-- Capitulo -->
<div id="containero" class="containerr intro-effect-fadeout">
                  <!-- Top Navigation -->
                  <header class="header">
                    <div class="bg-img">
                    	 <%= image_tag("2.jpg") %>
                    </div>
                    <div class="title">
                      <h1>2.2 Fenómenos de la población</h1>
                      <p class="subline">Calidad de vida</p>
                    </div>
                  </header>
                  <button class="trigger" data-info="Continuar"><span>Trigger</span></button>
                  <article class="content">
                    <div>
                      <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                          <h3 class="abold">Natalidad, morbilidad  y mortalidad</h3>
                          <p>El comportamiento de la población mundial ha experimentado drásticos cambios: ha crecido muy rápido, se ha urbanizado, se ha hecho más longeva, y ha emigrado de unos países a otros. Se trata, básicamente, de una globalización de  los cambios experimentados a partir de los siglos XIX y XX por los países hoy desarrollados.</p>
                          <p>En medio siglo la población rondará los 9 mil millones de personas. Hace 50 años era de 2 mil 500 millones. A comienzos del siglo XX, había cerca de mil 700 millones. En 2000, se superó por poco los 6 mil millones. Se prevé que la población mundial llegará a 9 mil 100 millones para 2050 y el aumento se producirá en los países menos desarrollados.</p>
                          <p>La tasa de crecimiento de la población en el mundo bajó 1.2% anual en el periodo 2000-2005, y para 2045-2050, según las previsiones, caerá otro 0.4% anual.</p>
                        </div>
                        <div class="well col-xs-12 col-sm-6 col-md-6 col-lg-6">
                          
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <p>En los países menos desarrollados las tasas de natalidad han descendido y se considera que seguirán cayendo, mientras que en los más desarrollados se mantendrán constantes. Al mismo tiempo, las tasas de mortalidad prácticamente se mantienen invariables.</p>
                          <p>La proporción entre varones y mujeres suele conservarse de 105/100 a edades tempranas porque nacen más niños que niñas, aunque se equipara en la edad adulta porque mueren más varones que mujeres. Sin embargo, en algunos países el infanticidio, el abandono de recién nacidas y el aborto selectivo de fetos femeninos generan una proporción de varones y mujeres de más de 108/100 a edades tempranas.</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="well col-xs-12 col-sm-4 col-md-4 col-lg-4">
                          
                        </div>
                        <div class="well col-xs-12 col-sm-8 col-md-8 col-lg-8">
                          
                        </div>
                      </div>
                      <div class="row">
                        <div class="well col-xs-12 col-sm-8 col-md-8 col-lg-8">
                          
                        </div>
                        <div class="well col-xs-12 col-sm-4 col-md-4 col-lg-4">
                          
                        </div>
                      </div>
                      
                      
                    </div>
                  </article>
</div><!-- /capitulo -->