<!-- Contenido Result -->
<div id="contenido-result">
  <div class="row">
                  <div class="col-lg-12">
                        <h4><strong>Quiza stos temas te pueden interesar: </strong></h4>
                        <br>
                  </div>
  </div>
  <div class="row contenedor-result">
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ciu med">
                        <div class="box-result media">
                          <div class="pull-left clogo-box medio-fondo">
                            <span class="box-icon gn-icon-medio" style="width: 75px;"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir medio-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>1.1</small> Descripción física</h5>
                            <h6 class="medio-color">Medio ambiente</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box medio-fondo">
                            <span class="box-icon gn-icon-medio" style="width: 75px;"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir medio-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>1.2</small> Gestión ambiental</h5>
                            <h6 class="medio-color">Medio ambiente</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ciu">
                        <div class="box-result media">
                          <div class="pull-left clogo-box demo-fondo">
                            <span class="box-icon gn-icon-demo"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir demo-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>2.1</small> Comportamiento de la población</h5>
                            <h6 class="demo-color">Demografía</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box demo-fondo">
                            <span class="box-icon gn-icon-demo"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir demo-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>2.2</small> Fenómenos de la población</h5>
                            <h6 class="demo-color">Demografía</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box demo-fondo">
                            <span class="box-icon gn-icon-demo"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir demo-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>2.3</small> Fenómeno de la migración</h5>
                            <h6 class="demo-color">Demografía</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box cali-fondo">
                            <span class="box-icon gn-icon-cali"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir cali-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>3.1</small> Servicios de salud</h5>
                            <h6 class="cali-color">Calidad de vida</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box cali-fondo">
                            <span class="box-icon gn-icon-cali"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir cali-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>3.2</small> Desarrollo urbano y vivienda</h5>
                            <h6 class="cali-color">Calidad de vida</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box cali-fondo">
                            <span class="box-icon gn-icon-cali"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir cali-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>3.3</small> Programas sociales</h5>
                            <h6 class="cali-color">Calidad de vida</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box cali-fondo">
                            <span class="box-icon gn-icon-cali"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir cali-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>3.4</small> Servicios públicos municipales</h5>
                            <h6 class="cali-color">Calidad de vida</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box cali-fondo">
                            <span class="box-icon gn-icon-cali"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir cali-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>3.5</small> Seguridad pública municipal</h5>
                            <h6 class="cali-color">Calidad de vida</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box cali-fondo">
                            <span class="box-icon gn-icon-cali"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir cali-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>3.6</small> Desarrollo integral de la familia, DIF municipal</h5>
                            <h6 class="cali-color">Calidad de vida</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box cali-fondo">
                            <span class="box-icon gn-icon-cali"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir cali-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>3.7</small> Cultura, deporte y recreación</h5>
                            <h6 class="cali-color">Calidad de vida</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box cali-fondo">
                            <span class="box-icon gn-icon-cali"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir cali-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>3.8</small> Comisión Estatal de Derechos Humanos</h5>
                            <h6 class="cali-color">Calidad de vida</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box cali-fondo">
                            <span class="box-icon gn-icon-cali"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir cali-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>3.9</small> Ambiente laboral y bolsa de empleo</h5>
                            <h6 class="cali-color">Calidad de vida</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box cali-fondo">
                            <span class="box-icon gn-icon-cali"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir cali-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>3.10</small> Atención a personas con discapacidad</h5>
                            <h6 class="cali-color">Calidad de vida</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box edu-fondo">
                            <span class="box-icon gn-icon-edu"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir edu-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>4.1</small> Infraestructura educativa</h5>
                            <h6 class="edu-color">Educación</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box edu-fondo">
                            <span class="box-icon gn-icon-edu"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir edu-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>4.2</small> Centros de investigación</h5>
                            <h6 class="edu-color">Educación</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box des-fondo">
                            <span class="box-icon gn-icon-des"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir des-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>5.1</small> Producción agropecuaria</h5>
                            <h6 class="des-color">Desarrollo agropecuario</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box des-fondo">
                            <span class="box-icon gn-icon-des"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir des-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>5.2</small> Programas agropecuarios</h5>
                            <h6 class="des-color">Desarrollo agropecuario</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box des-fondo">
                            <span class="box-icon gn-icon-des"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir des-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>5.3</small> Rastro Municipal</h5>
                            <h6 class="des-color">Desarrollo agropecuario</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box ind-fondo">
                            <span class="box-icon gn-icon-ind"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir ind-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>6.1</small> Indicadores de la industria manufacturera</h5>
                            <h6 class="ind-color">Industria manufacturera</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box ind-fondo">
                            <span class="box-icon gn-icon-ind"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir ind-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>6.2</small> Índice de competitividad y parques industriales</h5>
                            <h6 class="ind-color">Industria manufacturera</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box ind-fondo">
                            <span class="box-icon gn-icon-ind"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir ind-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>6.3</small> regulatoria para la industria</h5>
                            <h6 class="ind-color">Industria manufacturera</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box ind-fondo">
                            <span class="box-icon gn-icon-ind"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir ind-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>6.4</small> Apoyos a la industria</h5>
                            <h6 class="ind-color">Industria manufacturera</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box com-fondo">
                            <span class="box-icon gn-icon-com"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir com-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>7.1</small> Comercio</h5>
                            <h6 class="com-color">Comercio y servicios</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box com-fondo">
                            <span class="box-icon gn-icon-com"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir com-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>7.2</small> Comercio exterior</h5>
                            <h6 class="com-color">Comercio y servicios</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box com-fondo">
                            <span class="box-icon gn-icon-com"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir com-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>7.3</small> Turismo</h5>
                            <h6 class="com-color">Comercio y servicios</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box com-fondo">
                            <span class="box-icon gn-icon-com"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir com-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>7.4</small> Comunicaciones y transportes</h5>
                            <h6 class="com-color">Comercio y servicios</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box com-fondo">
                            <span class="box-icon gn-icon-com"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir com-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>7.5</small> Servicios financieros</h5>
                            <h6 class="com-color">Comercio y servicios</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box gob-fondo">
                            <span class="box-icon gn-icon-gob"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir gob-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>8.1</small> Estructura municipal</h5>
                            <h6 class="gob-color">Gobierno municipal</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box gob-fondo">
                            <span class="box-icon gn-icon-gob"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir gob-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>8.2</small> Recursos públicos</h5>
                            <h6 class="gob-color">Gobierno municipal</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box gob-fondo">
                            <span class="box-icon gn-icon-gob"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir gob-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>8.3</small> Ayuntamiento</h5>
                            <h6 class="gob-color">Gobierno municipal</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box gob-fondo">
                            <span class="box-icon gn-icon-gob"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir gob-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>8.4</small> Unidad de Información Gubernamental</h5>
                            <h6 class="gob-color">Gobierno municipal</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box gob-fondo">
                            <span class="box-icon gn-icon-gob"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir gob-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>8.5</small> Instituto Municipal de Equidad de Género</h5>
                            <h6 class="gob-color">Gobierno municipal</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box gob-fondo">
                            <span class="box-icon gn-icon-gob"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir gob-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>8.6</small> Instituto Municipal de Capacitación</h5>
                            <h6 class="gob-color">Gobierno municipal</h6>
                          </div>
                        </div>        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="box-result media">
                          <div class="pull-left clogo-box gob-fondo">
                            <span class="box-icon gn-icon-gob"></span>
                          </div>
                          <a class="pull-right clogo-box box-ir gob-item" href="#">
                            <span class="box-icon-ir gn-icon-ir"></span>
                            <span class="text-ir">VER</span>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading"><small>8.7</small> Tribunal Municipal de Responsabilidades Administrativas</h5>
                            <h6 class="gob-color">Gobierno municipal</h6>
                          </div>
                        </div>        
                    </div>
  </div><!-- /row -->
</div> <!-- /contenido-result -->