<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AEM 2014</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- SEO -->
    <meta name="description" content="Anuario Económico Municipal 2014">
    <meta name="keywords" content="Querétaro, Municipio, Anuario, Económico, 2014" />
    <meta name="author" content="Applicattio">
	<!-- RoR -->
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
  	
  	<!-- IE8 support for HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
</head>
<%= yield %>
</html>